<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>EDIT PERSON</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:method ="PATCH" th:action = "@{/people/{id}(id = ${person.getId()})}" th:object = "${person}">
            <label for = "name">ENTER name: </label>
            <input type="text" th:field = "*{name}" id = "name"/>
            <div style="color: blue" th:if="${#fields.hasErrors('name')}" th:errors ="*{name}"></div>
            <br/>
            
            <label for = "age">ENTER Age: </label>
            <input type="text" th:field = "*{age}" id = "age"/>
            <div style="color: palegreen" th:if="${#fields.hasErrors('age')}" th:errors = "*{age}">nothin</div>
            <br/>
            
            <label for = "email">ENTER Email: </label>
            <input type="text" th:field = "*{email}" id = "email"/>
            <div style="color: blueviolet" th:if="${#fields.hasErrors('email')}"
                 th:errors = "*{email}">it ll be never showen</div>
            
            <br/>
            <input type="submit" value = "update"/>
        </form>
    </body>
</html>
