<!DOCTYPE html>

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>all people</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:each ="person : ${people}">
            <a th:href="@{/people/{id}(id=${person.getId()})}" th:text ="${person.getName()}">user</a>
<!--            <p>age = </p>
            <a th:href="@{/people/{id}(id=${person.getId()})}" th:text ="${person.getAge()}">user</a>-->
            
        </div>
        <br/>
        <hr/>
        <a href="/people/new">create new person</a>
    </body>
</html>
